h1 {
  text-align: center;
  font-weight: normal;
  text-decoration: #ff00ff underline wavy;
  font-size: 80px;
  font-family: Segoe UI, Futura, Arial, Sans-serif;
}

a {
text-decoration: none;  
}

p {
  line-height: 2;
  letter-spacing: 1px;
}